/* #region 文章头部内容 */

.article-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-container {
    position: absolute;
    right: 15px;
}
/* #endregion 文章头部内容 */

/* #region 文章内容部分 */

.article-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.article-title {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto 30px;
    grid-template-rows: auto;
}

.article-title::after {
    content: "子刊";
    align-self: flex-start;
    margin-top: 5px;
}

.auther-info-container {
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
}

.content-title {
    margin-bottom: 10px;
}

.effect-picture {
    width: 100%;
    border-radius: 10px;
}

.challenge-title {
    margin-bottom: 10px;
}

/* #endregion 文章内容部分 */

/* #region 挑战区域 */

.challenge-region-container {
    display: grid;
    width: 100%;
    height: 600px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.region-container {
    align-self: center;
    justify-self: center;
    width: 95%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
}

/* #endergion 挑战区域 */
